@use 'reset.scss'; // 重置样式
@use 'variables'; // 变量
@use 'mixins'; // 混合宏
// @use 'sidebar.scss'; // 侧边栏样式

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family:
    Helvetica Neue,
    Helvetica,
    PingFang SC,
    Hiragino Sans GB,
    Microsoft YaHei,
    Arial,
    sans-serif;
}

#app {
  height: 100%;
  width: 100%;
}

// 进度条颜色
#nprogress .bar {
  background: var(--el-color-primary);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}