/* 全局变量 */
:export {
  menu-background: $menu-background;
  menu-text: $menu-text;
  menu-active-text: $menu-active-text;
  menu-hover: $menu-hover;
  sidebar-width: $sidebar-width;
  navbar-height: $navbar-height;
  tags-view-height: $tags-view-height;
}
