// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$subMenuActiveText: #f4f4f5;

$menuBg: #304156;
$menuHover: #263445;

$subMenuBg: #1f2d3d;
$subMenuHover: #001528;

// navbar
$navbarHeight: 50px;

// 侧边栏宽度
$sideBarWidth: 210px;
// 侧边栏收起宽度
$hideSideBarWidth: 54px;
// 侧边栏切换动画时间
$sideBarDuration: 0.28s;

// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
// JS 与 scss 共享变量，在 scss 中通过 :export 进行导出，在 js 中可通过 ESM 进行导入
:export {
  menutext: $menuText;
  menuactivetext: $menuActiveText;
  submenuactivetext: $subMenuActiveText;
  menubg: $menuBg;
  menuhover: $menuHover;
  submenubg: $subMenuBg;
  submenuhover: $subMenuHover;
  sidebarwidth: $sideBarWidth;
}